extends layouts/base

block content
  h1 Igloo
  p What is igloo? Igloo is a set of opinionated components or modules that are built upon the inuitCSS framework by Harry Roberts.

  h2 Table of Contents

  ul.o-list-bare
    li: a(href="#") Content
      ul
        li: a(href="tables.html") Tables
    li: a(href="buttons.html") Buttons
    li: a(href="form.html") Form
    li: a(href="typography.html") Typography
      ul
        li: a(href="article.html") Article
