extends layouts/base

block content
  h1 Tables

  table.o-table
    thead
      tr
        th(scope="col") #
        th(scope="col") First
        th(scope="col") Last
        th(scope="col") Handle

    tbody
      tr
        th(scope="row") 1
        td Mark
        td Otto
        td @mdo

      tr
        th(scope="row") 2
        td Jacob
        td Thorton
        td @fat

      tr
        th(scope="row") 3
        td Larry
        td Bird
        td @twitter

  h2 Fixed Table

  table.o-table.o-table--fixed
    thead
      tr
        th(scope="col") #
        th(scope="col") First
        th(scope="col") Last
        th(scope="col") Handle

    tbody
      tr
        th(scope="row") 1
        td Mark
        td Otto
        td @mdo

      tr
        th(scope="row") 2
        td Jacob
        td Thorton
        td @fat

      tr
        th(scope="row") 3
        td Larry
        td Bird
        td @twitter

  h2 Table Size Variants
  h3 Compact Table with tightly packed cells
  table.o-table.o-table--compact
    thead
      tr
        th(scope="col") #
        th(scope="col") First
        th(scope="col") Last
        th(scope="col") Handle

    tbody
      tr
        th(scope="row") 1
        td Mark
        td Otto
        td @mdo

      tr
        th(scope="row") 2
        td Jacob
        td Thorton
        td @fat

      tr
        th(scope="row") 3
        td Larry
        td Bird
        td @twitter

  h3 Cosy table with loosely packed cells
  table.o-table.o-table--cosy
    thead
      tr
        th(scope="col") #
        th(scope="col") First
        th(scope="col") Last
        th(scope="col") Handle

    tbody
      tr
        th(scope="row") 1
        td Mark
        td Otto
        td @mdo

      tr
        th(scope="row") 2
        td Jacob
        td Thorton
        td @fat

      tr
        th(scope="row") 3
        td Larry
        td Bird
        td @twitter

  h3 Comfy table with widely packed cells
  table.o-table.o-table--comfy
    thead
      tr
        th(scope="col") #
        th(scope="col") First
        th(scope="col") Last
        th(scope="col") Handle

    tbody
      tr
        th(scope="row") 1
        td Mark
        td Otto
        td @mdo

      tr
        th(scope="row") 2
        td Jacob
        td Thorton
        td @fat

      tr
        th(scope="row") 3
        td Larry
        td Bird
        td @twitter

  h2 Bordered and Striped
  table.o-table.o-table--bordered
    thead
      tr
        th(scope="col") #
        th(scope="col") First
        th(scope="col") Last
        th(scope="col") Handle

    tbody
      tr
        th(scope="row") 1
        td Mark
        td Otto
        td @mdo

      tr
        th(scope="row") 2
        td Jacob
        td Thorton
        td @fat

      tr
        th(scope="row") 3
        td Larry
        td Bird
        td @twitter

  table.o-table.o-table--striped
    thead
      tr
        th(scope="col") #
        th(scope="col") First
        th(scope="col") Last
        th(scope="col") Handle

    tbody
      tr
        th(scope="row") 1
        td Mark
        td Otto
        td @mdo

      tr
        th(scope="row") 2
        td Jacob
        td Thorton
        td @fat

      tr
        th(scope="row") 3
        td Larry
        td Bird
        td @twitter

  h2 Rows and Columns
  table.o-table.o-table--columns
    thead
      tr
        th(scope="col") #
        th(scope="col") First
        th(scope="col") Last
        th(scope="col") Handle

    tbody
      tr
        th(scope="row") 1
        td Mark
        td Otto
        td @mdo

      tr
        th(scope="row") 2
        td Jacob
        td Thorton
        td @fat

      tr
        th(scope="row") 3
        td Larry
        td Bird
        td @twitter

  table.o-table.o-table--rows
    thead
      tr
        th(scope="col") #
        th(scope="col") First
        th(scope="col") Last
        th(scope="col") Handle

    tbody
      tr
        th(scope="row") 1
        td Mark
        td Otto
        td @mdo

      tr
        th(scope="row") 2
        td Jacob
        td Thorton
        td @fat

      tr
        th(scope="row") 3
        td Larry
        td Bird
        td @twitter

  h2 Table Header Options

  table.o-table
    thead.o-table-thead.o-table-thead--light
      tr
        th(scope="col") #
        th(scope="col") First
        th(scope="col") Last
        th(scope="col") Handle

    tbody
      tr
        th(scope="row") 1
        td Mark
        td Otto
        td @mdo

      tr
        th(scope="row") 2
        td Jacob
        td Thorton
        td @fat

      tr
        th(scope="row") 3
        td Larry
        td Bird
        td @twitter


    table.o-table
      thead.o-table-thead.o-table-thead--dark
        tr
          th(scope="col") #
          th(scope="col") First
          th(scope="col") Last
          th(scope="col") Handle

      tbody
        tr
          th(scope="row") 1
          td Mark
          td Otto
          td @mdo

        tr
          th(scope="row") 2
          td Jacob
          td Thorton
          td @fat

        tr
          th(scope="row") 3
          td Larry
          td Bird
          td @twitter
